$colorPrincipal: #002f47;
$colorSecundario: #4a7a86;
$colorWhite: white;
$colorLight: #D0AF64;
$colorStrong: #D1B064;


$textBold: 600;
$textLight: 450;
$fontTitle: "CrimsonText";
$fontSize: 100px;
$fontSubtitle: "Montserrat";
$subtitleSize: 45px;
$fontCopy: "Roboto";
$copySize: 20px;